<!DOCTYPE html>
<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/play_button.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/superstylin.css">
</head>
<body>
<content>
<%= yield %>
</content>
</body>
</html>