
<nameform>
<h2> Enter your name</h2>
<form id="start_play" action="/register" method="POST">
<input id = "take_name" type="text" name="name" placeholder="Enter Name">
<button id="play">Play!</button> 
</form>
</nameform>