<h1>Make your choice <%= @player%></h1>

<form action="/play" method="POST">
	<button name="pick" value="paper"><img src="images/paper.png" alt="" id="image-paper" class="game_item" /></button>
	<button name="pick" value="rock"><img src="images/rock.png" alt="" id="image-rock" class="game_item" /></button>
	<button name="pick" value="scissors"><img src="images/scissors.png" alt="" id="image-scissors" class="game_item" /></button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>


    
   
   
   
            
